<h1>Listing of articles</h1>
<div>
	<p>
		<% @articles.each do |article| %>
			<h1><%= article.title %></h1>
			<p><%= article.author %></p>
			<p><%= link_to 'Show' , article_path(article) %> | 
			<%= link_to 'Edit' , edit_path(article) %>
		<% end %>
	</p>
</div>
